<?xml version="1.0" encoding="UTF-8"?>


<suite name = "Demo Project">

<listeners>
	<listener class-name="com.internetbanking.Reporting"/>

</listeners>

<test name="Demo Test Case">
<parameter name = "browser" value="chrome"/>
<classes>
	<class name = "com.internetbanking.testcases.TC01"/>
</classes>

</test>
</suite>